.button{
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
    padding-left: 2 rem;
    padding-right: 2 rem;
    padding-top: 0.5 rem;
    padding-bottom: 0.5 rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin: .2rem;
    width: 3.3rem;
}
.banner{
    background-image: url('https://wallpaperaccess.com/full/2703652.png');
    background-size: cover;
    height: 448px;
    color: white;
    padding-left: 15px;
}
.contents{
    padding-top: 140px;
    height: 190px;
}
.titile{
    font-size: 3 rem;
    padding-bottom: 0.3 rem;
    font-weight: 800;

}
.button:hover{
    color: BLACK;
    background-color: #E6E6E6;
}

.description{
    width: 45rem;
    line-height: 1.3;
    font-size: 19px;
    padding-top: 1rem;
    height: 80px;
    max-width: 360px;

    
}
.fade{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transperent,rgba(37,37,37,.61),#111);
}